{% extends 'base.html.twig' %}

{% block body %}
 {{ form_start(form) }}
 <div class="container">
 <div class="row">
  <div class="col">
  {% if nazwa is defined %}
  <h1>{{ nazwa }}</h1>
  {% endif %}
     <div class="form-group">
     {{ form_widget(form) }}
     <h1></h1>
     <button class="btn btn-primary btn-lg" type="submit">Dodaj</button>
     <button onClick="window.history.back();" class="btn btn-primary btn-lg" type="button">Cofnij</button>
     </div>
 </div>
 </div>
</div>
 {{ form_end(form) }}
{% endblock %}