{% extends 'base.html.twig' %}

{% block title %}Osoby{% endblock %}

{% block body %}
<div class="cointainer">
    <a href="/sbd-projekt/public/NowaOsoba" class="btn btn-primary btn-lg" role="button">Dodaj</a>
    <button onClick="window.history.back();" class="btn btn-primary btn-lg" type="button">Cofnij</button>
</div>

    {% if osoby %}
        <table id="umowy" class="table table-striped">
        <thead>
            <tr>
                <th>Osoba</th>
                <th>PESEL</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            {% for osoba in osoby %}
                <tr>
                    <td>{{ osoba.getImie() ~ ' ' ~ osoba.getNazwisko() }}</td>
                    <td>{{ osoba.getPESEL() }}</td>
                    <td>
                        <a href="/sbd-projekt/public/WyswietlOsoby/{{ osoba.getPESEL() }}" class="btn btn-dark">Szczegóły</a>
                        <a href="/sbd-projekt/public/WyswietlOsoby/delete/{{ osoba.getPESEL() }}" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>Brak osób do wyświetlenia</p>
    {% endif %}
{% endblock %}