{% extends 'base.html.twig' %}

{% block title %}Spółdzielnie{% endblock %}

{% block body %}
<div class="cointainer">
    <a href="/sbd-projekt/public/NowaSpoldzielnia" class="btn btn-primary btn-lg" role="button">Dodaj</a>
    <button onClick="window.history.back();" class="btn btn-primary btn-lg" type="button">Cofnij</button>
</div>

    {% if spoldzielnie %}
        <table id="umowy" class="table table-striped">
        <thead>
            <tr>
                <th>Spółdzielnie</th>
                <th>Adres</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            {% for spoldzielnia in spoldzielnie %}
                <tr>
                    <td>{{ spoldzielnia.getNazwa() }}</td>
                    <td>{{ spoldzielnia.getAdres() }}</td>
                    <td>
                        <a href="/sbd-projekt/public/WyswietlSpoldzielnie/{{ spoldzielnia.getNazwa() }}" class="btn btn-dark">Szczegóły</a>
                        <a href="/sbd-projekt/public/WyswietlSpoldzielnie/delete/{{ spoldzielnia.getNazwa() }}" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>Brak spółdzielni do wyświetlenia</p>
    {% endif %}
{% endblock %}