{% extends 'base.html.twig' %}

{% block title %}Umowy{% endblock %}

{% block body %}
<div class="cointainer">
    <a href="/sbd-projekt/public/NowyBudynek" class="btn btn-primary btn-lg" role="button">Dodaj</a>
    <button onClick="window.history.back();" class="btn btn-primary btn-lg" type="button">Cofnij</button>
</div>

    {% if budynki %}
        <table id="umowy" class="table table-striped">
        <thead>
            <tr>
                <th>Budynek</th>
                <th>Adres</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            {% for budynek in budynki %}
                <tr>
                    <td>{{ budynek.getTyp() }}</td>
                    <td>{{ budynek.getAdres() }}</td>
                    <td>
                        <a href="/sbd-projekt/public/WyswietlBudynki/{{ budynek.getAdres() }}" class="btn btn-dark">Szczegóły</a>
                        <a href="/sbd-projekt/public/WyswietlBudynki/delete/{{ budynek.getAdres() }}" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>Brak budynków do wyświetlenia</p>
    {% endif %}
{% endblock %}