{% extends 'base.html.twig' %}

{% block title %}Umowy{% endblock %}

{% block body %}
    {% if umowy %}
        <table id="umowy" class="table table-striped">
        <thead>
            <tr>
                <th>Umowa</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% for umowa in umowy %}
                <tr>
                    <td>{{ umowa.getNrumowy() }}</td>
                    <td>
                        <a href="/sbd-projekt/public/WyswietlUmowy/{{ umowa.getId() }}" class="btn btn-dark">Szczegóły</a>
                        <a href="/sbd-projekt/public/WyswietlUmowy/delete/{{ umowa.getId() }}" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>Brak umów do wyświetlenia</p>
    {% endif %}
{% endblock %}